<!doctype html>
<html>
   <body>
      <table border = 1>
        <tr>
            <th> input  </th>
            <th> status  </th>
            <th> actions  </th>
        </tr>
        {% for key, value in inputs.items() %}
        <tr>
          <td> {{ key }} </td>
          <td> {{ value }} </td>
          <td> 
            <a href="/set/{{ key }}"> <input type="button" value="set"></a>
            <a href="/clear/{{ key }}"> <input type="button" value="clear"></a> 
          </td>
        </tr>
        {% endfor %}
    </table>
    <table>
        <tr><th>History</th></tr>
        {% for entry in history %}
        <tr><td>{{entry}}</td></tr>
        {% endfor %}
    </table>  
     
   </body>
</html>